<div class="container margin-top-30">

    <div class="row">
      <div class="col-md-1">
        <img src="assets/img/grc-big.png"
              class="img-circle mx-auto d-block small-logo"
              alt="GRC-music">
      </div>
      <div class="col-md-4 form-group pt-2">
        <input class="form-control input-sm" type="text">
      </div>
      <div class="col-md-1 pt-2">
        <a class="nav-link" [routerLink]="['/list']">Buscar</a>
      </div>
    </div>

    <div class="row">
      <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Desde</th>
          <th>Nombre</th>
          <th>Popularidad</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of listArtist">
        <td>{{ artist.from }}</td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.followers }}</td>
        <td><a class="nav-link" [routerLink]="['/artist']">Ir a artista</a></td>
      </tr>
      </tbody>
      </table>
    </div>

</div>
